@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "tw-animate-css";

html,
body {
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
/* .custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(240, 0, 0);
  border-radius: 4px;
  cursor: pointer;
} */

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
  font-style: regular;
}
@font-face {
  font-family: "Poppins-Light";
  src: url("/fonts/Poppins-ExtraLight.ttf");
  /* font-style: regular; */
}
@font-face {
  font-family: "Priestacy";
  src: url("/fonts/Priestacy.otf");
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

:root {
  --primary: #f7901e;
  /* --primary: #3e3edd; */
  /* --primary-foreground: #7777f7; */
  --secondary: #fcb017;
  --accent: #dedefa;
  --muted: #676767;
}
@custom-variant dark (&:is(.dark *));
